			<div id="site-search-wrapper"> 
	
				<a href="#" id="find-site">Switch Sites</a> 
	
				<section id="find-site-search" class="clearfix"> 
					<div id="site" class="table"> 
						<div class="row">
							<div class="search cell"> 
								<div class="inner"> 
									<form id="search-sites" method="post" action="<$mt:var name="mt_url"$>"> 
	                                    <input type="hidden" name="__mode" value="search_replace" />
	                                    <input type="hidden" name="_type" value="blog" />
	                                    <input type="hidden" name="do_search" value="1" />
	                                    <input type="hidden" name="quicksearch" value="0" />
	                                    <input type="hidden" name="json" value="1" />
	                                    <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" />
										<label for="s">search by site name or web address</label> 
										<input type="text" name="search" id="s"> 
									</form> 
	<mt:setvartemplate name="blog_list_item">
										<li id="blog-<$mt:var name="top_blog_id"$>" class="site result"> 
											<a href="<$mt:var name="mt_url"$>?blog_id=<$mt:var name="top_blog_id"$>&amp;<$mt:var name="return_args" escape="html"$>"><img src="<mt:if name="top_blog_logo" ne=""><$mt:var name="top_blog_logo"$><mt:else><$mt:PluginStaticWebPath component="MelodyMaker"$>images/site_search/ico_default_logo.png</mt:if>" width="38" height="38" alt="Logo for <mt:var name="top_blog_name" escape_html="1">" /></a> 
											<div class="result_data"> 
												<a class="pin<mt:if name="top_blog_pinned"> pinned</mt:if>" href="#">Pin This Site</a> 
												<h4 class="site_title"><a href="<$mt:var name="mt_url"$>?blog_id=<$mt:var name="top_blog_id"$>&amp;<$mt:var name="return_args" escape="html"$>"><$mt:var name="top_blog_name" escape="html"$></a></h4> 
												<a class="site_preview" rel="external" href="<$mt:var name="top_blog_url" escape="html"$>"><$mt:var name="top_blog_url" escape="html"$></a> 
											</div> 
										</li> 
	</mt:setvartemplate>
	<mt:if name="top_blog_loop">
	  <mt:setvarblock name="blog_selector_dropdown">
	    <mt:loop name="top_blog_loop">
	      <mt:unless name="top_blog_selected">
	        <mt:var name="blog_list_item">
	      </mt:unless>
	    </mt:loop>
	  </mt:setvarblock>
	
	  <mt:if name="blog_selector_dropdown" like="\S">
									<ul id="site_search_results" class="blog-selector-connected"> 
	                                <mt:var name="blog_selector_dropdown">
									</ul> 
	  <mt:else>
	  </mt:if>
	<mt:else>
	
	</mt:if>
									
								</div> 
							</div> 
							
							<div class="pinned cell"> 
								<div class="inner"> 
									<h3>Favorites</h3> 
	 
									<ul id="pinned_sites_list" class="blog-selector-connected"> 
									<mt:loop name="fave_blog_loop">
									  <mt:var name="blog_list_item">
									</mt:loop> 
									</ul> 
	 
								</div> 
								
							</div> 
						
						</div>
						
					</div><!-- /#site --> 
				
<mt:if name="can_create_blog">
							<a id="create_site" href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=blog<mt:if name="single_blog_mode">&amp;blog_id=<$mt:var name="blog_id"$></mt:if>"><span><__trans phrase="Create Site"></span></a> 
</mt:if>

				</section><!-- /#find-site-search --> 
 
			</div><!-- /#site-search-wrapper" -->
