<mt:setvarblock name="related_content"><$mt:var name="related_content" trim="1"$></mt:setvarblock>
<!DOCTYPE html>
<html lang="<$mt:var name="language_tag"$>" xmlns="http://www.w3.org/1999/xhtml" xmlns:mt="http://www.sixapart.com/ns/mt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<$mt:var name="language_encoding"$>" />
    <title><mt:if name="html_title"><$mt:var name="html_title"$><mt:else><$mt:var name="page_title"$></mt:if><mt:if name="blog_name"> - <$mt:var name="blog_name" escape="html"$></mt:if> | <$mt:var name="mt_product_name"$></title>

    <mt:include name="include/css_js_common.tmpl">

<mt:setvarblock name="html_head" prepend="1">
    <link rel="icon" href="<$mt:var name="static_uri"$>images/favicon.ico" type="image/ico" />
<mt:if name="feed_url">
    <link type="application/atom+xml" rel="alternate" <mt:if name="feed_name">title="<mt:var name="feed_name" escape="html">" </mt:if>href="<mt:var name="feed_url" escape="html">" />
</mt:if>

</mt:setvarblock>

<$mt:var name="html_head"$>

<mt:setvarblock name="customcss"><mt:section trim="1">
<$mt:MelodyMakerCustomCSS$>
</mt:section></mt:setvarblock>
<mt:ifnonempty name="customcss">
<style type="text/css">
<$mt:var name="customcss"$>
</style>
</mt:ifnonempty>

<$mt:var name="js_include"$>

</head>
<body id="<$mt:var name="screen_id"$>" class="<$mt:MelodyMakerBackgroundColor$> <mt:if name="system_overview_nav">system<mt:else>blog blog-<$mt:var name="blog_id"$></mt:if> <$mt:var name="screen_type" default="main-screen"$> <mt:if name="screen_class"> <$mt:var name="screen_class"$></mt:if><mt:if name="new_object"> create-new</mt:if><mt:if name="mt_beta"> mt-beta</mt:if><mt:if name="loaded_revision"> loaded-revision</mt:if>">

<$mt:var name="html_body"$>
 
	<header id="admin-header"> 
		
		<div id="admin-masthead" class="container"> 

			<div id="logo"><a href="<$mt:var name="mt_url"$>"><$mt:var name="mt_product_name"$></a></div> 
			
			<nav id="site-selector"> 
<mt:if name="blog_id">
				<a href="<$mt:var name="mt_url"$>?__mode=dashboard&amp;blog_id=<$mt:var name="blog_id" escape="html"$>"><$mt:var name="blog_name" escape="html"$></a>
				<a href="<$mt:var name="blog_url"$>" class="preview"><$mt:var name="blog_url"$></a> 
<mt:else>
				<a href="<$mt:var name="mt_url"$>?__mode=dashboard"><__trans phrase="System Overview"></a>
</mt:if>
			</nav> 
			
			<form id="header-search" name="header-search" method="get" action="<$mt:var name="mt_url"$>"> 
                <input type="hidden" name="__mode" value="search_replace" />
                <input type="hidden" name="_type" value="<mt:if name="search_type"><mt:var name="search_type"><mt:else><mt:if name="object_type"><$mt:var name="object_type"$><mt:else>entry</mt:if></mt:if>" />
<mt:if name="blog_id">
                <input type="hidden" name="blog_id" value="<$mt:var name="blog_id"$>" />
</mt:if>
                <input type="hidden" name="do_search" value="1" />
                <input type="hidden" name="quicksearch" value="1" />
                <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" />
				<fieldset> 
					<label id="header-search-label" for="header-search-key"><__trans phrase="Search"><mt:if name="search_label"> <$mt:var name="search_label"$><mt:else> <__trans phrase="Entries"></mt:if></label> 
					<input accesskey="q" type="text" name="search" id="header-search-key" title="<__trans phrase="Search (q)">">
					<input type="submit" name="submit" id="header-search-submit" value="Submit"> 
				</fieldset> 
			</form> 

			<nav id="admin-top-menu"> 
				<ul> 
					<li><a href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=author&amp;id=<$mt:var name="author_id" escape="html" escape="html"$>"><__trans phrase="<em>Hello</em> [_1]" params="<$mt:var name="author_name" escape="html" escape="html"$>"></a></li> 
					<li><a href="<$mt:var name="mt_url"$>?__mode=dashboard"><__trans phrase="Global Admin"></a></li> 
<mt:if name="can_logout">
                    <li><a href="<$mt:var name="mt_url"$>?__mode=logout"><__trans phrase="Logout"></a></li>
</mt:if>
				</ul> 
			</nav> 
 
			<div id="site-search-wrapper"> 
	
				<a href="#" id="find-site">Switch Sites</a> 
	
				<section id="find-site-search" class="clearfix"> 
				
					<div id="site"> 
					
						<div class="search split"> 
							<div class="inner"> 
							
								<form id="search-sites" action=""> 
									<label for="s">search by site name or web address</label> 
									<input type="text" name="s" id="s"> 
								</form> 
								

<mt:if name="top_blog_loop">
  <mt:setvarblock name="blog_selector_dropdown">
    <mt:loop name="top_blog_loop">
      <mt:unless name="top_blog_selected">
									<li class="site result"> 
										<a href="<$mt:var name="mt_url"$>?blog_id=<$mt:var name="top_blog_id"$>&amp;<$mt:var name="return_args" escape="html"$>"><img src="<$mt:PluginStaticWebPath component="MelodyMaker"$>images/site_search/ico_default_logo.png"></a> 
										<div class="result_data"> 
											<a class="pin<mt:if name="top_blog_pinned"> pinned</mt:if>" href="#">Pin This Site</a> 
											<h4 class="site_title"><a href="<$mt:var name="mt_url"$>?blog_id=<$mt:var name="top_blog_id"$>&amp;<$mt:var name="return_args" escape="html"$>"><$mt:var name="top_blog_name" escape="html"$></a></h4> 
											<a class="site_preview" rel="external" href="<$mt:var name="top_blog_url" escape="html"$>"><$mt:var name="top_blog_url" escape="html"$></a> 
										</div> 
									</li> 
      </mt:unless>
<mt:ignore>
      <mt:if name="__last__">
        <mt:unless name="single_blog_mode">
          <mt:if name="blog_id">
                            <li id="all-blogs"><a href="<$mt:var name="mt_url">?blog_id=0&amp;<$mt:var name="return_args" escape="html"$>"><em><__trans phrase="System Overview"></em></a></li>
          </mt:if>
          <mt:unless name="selector_hide_chooser">
                            <li id="select-blog"><a mt:command="open-select-blog" href="javascript:void(0)" mt:href="<mt:var name="return_args" escape="js">"><__trans phrase="Select another blog..."></a></li>
          </mt:unless>
        </mt:unless>
        <mt:if name="can_create_blog">
                            <li id="create-blog"><a href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=blog<mt:if name="single_blog_mode">&amp;blog_id=<$mt:var name="blog_id"$></mt:if>"><__trans phrase="Create a new blog"></a></li>
        </mt:if>
      </mt:if>
</mt:ignore>
    </mt:loop>
  </mt:setvarblock>

  <mt:if name="blog_selector_dropdown" like="\S">
								<ul id="site_search_results"> 
                                <mt:var name="blog_selector_dropdown">
								</ul> 
  <mt:else>
  </mt:if>
<mt:else>

</mt:if>
								
							</div> 
						</div> 
						
						<div class="pinned split"> 
							<div class="inner"> 
								<h3>Pinned Sites</h3> 
 
								<ul id="pinned_sites_list"> 
 
									<li class="site result"> 
										<a href="#"><img src="<$mt:PluginStaticWebPath component="MelodyMaker"$>images/site_search/ico_default_logo.png"></a> 
										<div class="result_data"> 
											<a class="pin pinned" href="#">Pin This Site</a> 
											<h4 class="site_title"><a href="#">Byrne's Blog</a></h4> 
											<a class="site_preview" rel="external" href="http://byrnesblog.com">http://byrnesblog.com</a> 
										</div> 
									</li> 
 
								</ul> 
 
							</div> 
							
						</div> 
						
<mt:if name="can_create_blog">
						<a id="create_site" href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=blog<mt:if name="single_blog_mode">&amp;blog_id=<$mt:var name="blog_id"$></mt:if>"><span><__trans phrase="Create Site"></span></a> 
</mt:if>
						
					</div><!-- /#site --> 
				
				</section><!-- /#find-site-search --> 
 
			</div> 
			
		</div> 
		
		<div class="clear"></div> 
		
	</header> 
		
	<section id="admin-content-table"> 
 
		<div id="admin-content-wrapper" class="container clearfix"> 
	
<mt:if name="top_nav_loop">
			<nav id="admin-blog-menu"> 
				<div> 
					<ul> 
<mt:loop name="top_nav_loop">
						<li id="<$mt:var name="id" lower_case="1"$>-menu" class="box-menu<mt:if name="collapsed"> collapse</mt:if>"> 
							<h6><span><$mt:var name="label"$></span> <a class="menu_collapse_ui" href="#">collapse</a></h6> 
<mt:if name="sub_nav_loop">
                            <ul<mt:if name="collapsed"> style="display:none"</mt:if>>
<mt:loop name="sub_nav_loop">
                                <li><mt:if name="allowed"><a <mt:if name="dialog">class="open-dialog" </mt:if>href="<mt:if name="dialog"><$mt:var name="mt_url"$>?__mode=<mt:var name="dialog">&amp;blog_id=<$mt:var name="blog_id"$>&amp;return_args=<mt:var name="return_args" escape="url"><mt:else><$mt:var name="link" escape="html"$></mt:if>"><$mt:var name="label"$></a><mt:else><span><$mt:var name="label"$></span></mt:if></li>
</mt:loop>
                            </ul>
</mt:if>
						</li> 
</mt:loop>
                    </ul>
                </div>
            </nav>
			<div id="control-ui-sidebar"> 
				<a href="#">hide sidebar</a> 
			</div> 
</mt:if>

			<div id="admin-content"> 
						
				<mt:if name="system_msg">
				    <$mt:var name="system_msg"$>
				</mt:if>
								
				<mt:if name="object_nav"><$mt:var name="object_nav"$></mt:if>
				
				<h1 class="page-title">
				
					<$mt:var name="page_title"$><mt:if name="loaded_revision">: <em><__trans phrase="from Revision History"></em></mt:if>

					<mt:if name="show_display_options_link">
					    <a href="javascript:void(0)" class="button secondary display-options-link" mt:command="open-flyout" mt:flyout="display-options-widget"><__trans phrase="Display Options"></a>
					</mt:if>

				</h1>

				<div id="admin-content-inner">

					<div id="admin-primary" class="content-wrapper">
					
						<div id="admin-content-primary">

<mt:if name="content_header">
<$mt:var name="content_header"$>
</mt:if>

<mt:if name="content_nav">
                   <div id="content-nav">
<$mt:var name="content_nav"$>
                   </div>
</mt:if>

<$mt:var name="form_header"$>